<%- include('header');-%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus reprehenderit ut repudiandae eum animi est eos sapiente neque architecto facilis molestiae, quisquam aperiam inventore minus itaque commodi incidunt vero eligendi!</p>

<%- include('footer'); -%>